node_modules 
episode 5 lets get hooked/.parcel-cache/
episode 5 lets get hooked/dist/
episode 4 show me the code/dist
episode 4 show me the code/.parcel-cache/
episode 3 laying the foundation/.parcel-cache/
episode 3 laying the foundation/dist/
episode 1,2/dist/
episode 1,2/.parcel-cache/
episode 3 laying the foundation/package-lock.json
episode 4 show me the code/package-lock.json
episode 5 lets get hooked/package-lock.json
episode 1,2/package-lock.json


